body {
  font-family: Arial;
  background: #f4f4f4;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.container {
  background: white;
  padding: 30px;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  cursor: pointer;
}

.google {
  background: #db4437;
  color: white;
}

.github {
  background: #333;
  color: white;
}
